[submodule "third_party/libcbor"]
	path = third_party/libcbor
	url = https://github.com/PJK/libcbor.git
[submodule "third_party/libfido2"]
	path = third_party/libfido2
	url = https://github.com/Yubico/libfido2.git
